<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="EConnectApiFlowTests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="EConnectApi.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <EConnectApiFlowTests.Properties.Settings>
      <setting name="RequesterId" serializeAs="String">
        <value>everbinding.elien+testeen@gmail.com</value>
      </setting>
      <setting name="ConsumerKey" serializeAs="String">
        <value>6f505377426d765a575776646c754e4</value>
      </setting>
      <setting name="ConsumerSecret" serializeAs="String">
        <value>71474573654444716539565266505a4</value>
      </setting>
      <setting name="RequesterId2" serializeAs="String">
        <value>everbinding.elien+testtwee@gmail.com</value>
      </setting>
      <setting name="ConsumerKey2" serializeAs="String">
        <value>6259393932564578654a336f63676c6</value>
      </setting>
      <setting name="ConsumerSecret2" serializeAs="String">
        <value>6d4769473467524a673757797a31595</value>
      </setting>
      <setting name="EntityId" serializeAs="String">
        <value>XCNL10019</value>
      </setting>
      <setting name="EntityId2" serializeAs="String">
        <value>XCNL10018</value>
      </setting>
    </EConnectApiFlowTests.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <!--Overwrite default settings, to use the testplatform-->
    <EConnectApi.Properties.Settings>
      <setting name="Verifier" serializeAs="String">
        <value>unused</value>
      </setting>
      <setting name="EndPointRequestToken" serializeAs="String">
        <value>https://testplatform.everbinding.nl/api/v3/requesttoken</value>
      </setting>
      <setting name="Realm" serializeAs="String">
        <value>testplatform.everbinding.nl</value>
      </setting>
      <setting name="EndPointAccessToken" serializeAs="String">
        <value>https://testplatform.everbinding.nl/api/v3/accesstoken</value>
      </setting>
      <setting name="EndPointAccessResource" serializeAs="String">
        <value>https://testplatform.everbinding.nl/api/v3/accessresource</value>
      </setting>
    </EConnectApi.Properties.Settings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
