<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="EConnectApiFlowTests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="EConnectApi.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <EConnectApiFlowTests.Properties.Settings>
      <setting name="ConsumerKey" serializeAs="String">
        <value>5359624d33704e79787a55305145384</value>
      </setting>
      <setting name="ConsumerSecret" serializeAs="String">
        <value>4d6e3734436433374a4c69623158307</value>
      </setting>
      <setting name="RequesterId" serializeAs="String">
        <value>thieme.vanselm@gmail.com</value>
      </setting>
    </EConnectApiFlowTests.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <!-- Overwrite default settings, to use the testplatform -->
    <EConnectApi.Properties.Settings>
      <setting name="Verifier" serializeAs="String">
        <value>unused</value>
      </setting>
      <setting name="EndPointRequestToken" serializeAs="String">
        <value>http://testplatform.everbinding.nl/api/requesttoken</value>
      </setting>
      <setting name="Realm" serializeAs="String">
        <value>testplatform.everbinding.nl</value>
      </setting>
      <setting name="EndPointAccessToken" serializeAs="String">
        <value>http://testplatform.everbinding.nl/api/accesstoken</value>
      </setting>
      <setting name="EndPointAccessResource" serializeAs="String">
        <value>http://testplatform.everbinding.nl/api/accessresource</value>
      </setting>
    </EConnectApi.Properties.Settings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
