<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="EConnectApiFlowTests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="EConnectApi.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
 <userSettings>
    <EConnectApiFlowTests.Properties.Settings>
       <setting name="ConsumerKey" serializeAs="String">
          <value>554e626351597663375241505879527</value>
       </setting>
       <setting name="ConsumerSecret" serializeAs="String">
          <value>5735514e37564e52595735536d76497</value>
       </setting>
       <setting name="RequesterId" serializeAs="String">
          <value>everbinding.elien+testeen@gmail.com</value>
       </setting>
       <setting name="ConsumerKey2" serializeAs="String">
          <value>34735845686c684b4d6c534f696f6c6</value>
       </setting>
       <setting name="ConsumerSecret2" serializeAs="String">
          <value>75356e556f577256383947546351704</value>
       </setting>
       <setting name="RequesterId2" serializeAs="String">
          <value>everbinding.elien+testtwee@gmail.com</value>
       </setting>
       <setting name="EntityId" serializeAs="String">
          <value>XCNL10019</value>
       </setting>
       <setting name="EntityId2" serializeAs="String">
          <value>XCNL10018</value>
       </setting>
    </EConnectApiFlowTests.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <!--Overwrite default settings, to use the testplatform-->
    <EConnectApi.Properties.Settings>
      <setting name="Verifier" serializeAs="String">
        <value>unused</value>
      </setting>
      <setting name="EndPointRequestToken" serializeAs="String">
        <value>http://testplatform.everbinding.nl/api/requesttoken</value>
      </setting>
      <setting name="Realm" serializeAs="String">
        <value>testplatform.everbinding.nl</value>
      </setting>
      <setting name="EndPointAccessToken" serializeAs="String">
        <value>http://testplatform.everbinding.nl/api/accesstoken</value>
      </setting>
      <setting name="EndPointAccessResource" serializeAs="String">
        <value>http://testplatform.everbinding.nl/api/accessresource</value>
      </setting>
    </EConnectApi.Properties.Settings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
