<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetOpenAuth.Core" version="4.3.3.13295" targetFramework="net40" requireReinstallation="True" />
  <package id="DotNetOpenAuth.OAuth.Consumer" version="4.3.3.13295" targetFramework="net40" requireReinstallation="True" />
  <package id="DotNetOpenAuth.OAuth.Core" version="4.3.3.13295" targetFramework="net40" requireReinstallation="True" />
  <package id="Microsoft.Bcl" version="1.1.6" targetFramework="net40" requireReinstallation="True" />
  <package id="Microsoft.Bcl.Build" version="1.0.13" targetFramework="net40" />
  <package id="Microsoft.Net.Http" version="2.2.18" targetFramework="net40" requireReinstallation="True" />
</packages>